body{
margin-top: 80px;
background-image: linear-gradient(35deg, red, black);
overflow: hidden;
margin-bottom: 50px;
}
			
img{
height: 80%;
width: 40%;
filter: brightness(70%) contrast(120%);
}

h1{
color: yellow;
font-family: verdana;
margin-bottom: 80px;
}

div{
width: 100%;
text-align: center;
}